<launch>
	<node name="juav_spawner" pkg="gazebo_ros" type="spawn_model" args="-sdf -file /workspace/gazebo/src/dragonfly_sim/juav/JUAV1/model.sdf -model JUAV1" respawn="false" output="screen" />
	<node name="juav_arducopter" pkg="dragonfly_sim" type="arducopter.sh" />
	<include file="$(find dragonfly_sim)/launch/apm.launch"/>
</launch>